.numbers{
    width: 100%;
    height: 240px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.154);
    display: flex;

    >div{
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >h6{
            color: var(--green-color);
            font-family:var(--segoe-bold);
            font-size:50px;
        }
        >span{
            color:var(--dark-gray) ;
            font-family: var(--segoe-normall);
            font-size:15px;
        }

    }
}